body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212 !important;
}
/* Hiệu ứng viền nét đứt cho vùng thả ảnh */
.dashed-border {
    border: 2px dashed #6c757d !important;
    transition: all 0.3s ease;
}
.dashed-border:hover {
    border-color: #0dcaf0 !important;
    background-color: #3e444a !important;
    cursor: pointer;
}
.img-container {
    height: 60vh; /* Chiều cao linh hoạt theo màn hình */
    background-color: #000;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container img {
    max-width: 100%;
}
/* Tab active style */
.nav-pills .nav-link.active {
    background-color: #0dcaf0;
    color: #000;
    font-weight: bold;
}
.nav-pills .nav-link {
    color: #adb5bd;
}