body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #121212 !important;
}
.img-container {
    height: 500px; /* Cố định chiều cao vùng sửa */
    background-color: #2c2c2c;
    border-radius: 4px;
    overflow: hidden;
}
.img-container img {
    max-width: 100%;
}
/* Hiệu ứng khi kéo thả file vào (nếu sau này phát triển thêm) */
#dropZone {
    transition: all 0.3s;
}