body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212 !important;
}

.img-container {
    max-height: 500px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
}

.img-container img {
    max-width: 100%;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #1e1e1e; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}